<%= form_for(@log) do |f| %>
  <%= hidden_field_tag :cosme_id, @cosme.id %>
  <%= hidden_field_tag :list_id, @list.id if @list.present? %>
  <p class="add-log"> 使ってみた感想を追加する</p>
  <div class="row">
    <div class="col-md-9">
      <div class="field">
        <%= f.text_area :content, placeholder: "コスメメモ" %>
      </div>
    <div class="col-md-3">
      <%= f.submit "追加", class: "btn btn-primary" %>
    </div>
    </div>
  </div>
<% end %>
